
body {

	background-color: #fae7af; /* whole background color*/
	font-family: Times,serif; 
	color: #333333; 
	margin: 0; 
	padding: 0;
	}


header {
	position: relative;
	background-color: #4aaaa5; /* teal */
	width: 275px;
	height:60px;
	text-align: left;
	top:12px;

	}



#tab {
	position: relative;
	font-size: 40px;
	top:10px;
	text-align: center;

}


#nav {
	font-family: Arial;
	font-size: 12px;
	position: relative;
	left: -115px;
	text-align: right;
	top: -30px;
	color: #dddddd;

}



a {
	font-family: Arial;

	color: #666666;
	

	}



#title1 {
	font-size: 30px;
	font-weight: bold;
	font-family: Georgia;
	color: #4aaaa5;
	padding: 20px;
}

#central {
	position: relative;
	text-align: center;
	top: 5px;

}


#title {
	font-size: 18px;
	font-weight: bold;
	font-family: Georgia;
	color: #4aaaa5;
	padding: 20px;
}


	





h2 {
	font-size: 24px;
	}


#wholetop {
	position: static;
	background-color: #ffffff;
	border-bottom: solid #dddddd;
	width: 100%;
	
}


#wholepage {
	position: static;
	border-bottom: solid #4aaaa5;
	width: 100%;
	
}

.container {
	position: static;
	width: 960px; 

	margin: 0px auto;
	padding: 20px;
	
	
	}

#topcontain {
	position: static;
	width: 960px; 
	
	
	
	margin: 0px auto;
	padding: 0px;
}


#container2 {
	
	position: relative;
	left: -155px;
	width: 650px; 
	
	background-color: #ffffff;
	margin: 0px auto;
	
	
	
	}


#container3 {
	position: relative;
	
	left: 700px;
	top: -360px;
	background-color: #ffffff;
	width: 270px; 
	
	
	}

#bottom {

	background-color: #666666;
	width: 100%;
	height: 70px;
}


#feet {
	text-align: center;
	position: relative;
	top:25px;
}


#mybio {
	line-height: 1.5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 1px;
	
	}

#lilhr {
	width: 230px;
}

#bighr {
	width: 610px;
}

#mypic {
	float: left; 
	width: 200px;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 1px;
}


#icons {

	width: 50px;
	height: 50px;
}

#allicons {
position: relative;
display: block;
margin: 0 auto;
width: 60%;


}








