
body {

	background-color: #fae7af; /* whole background color*/
	font-family: Times,serif; 
	color: #333333; 
	margin: 0; 
	padding: 0;
	}


header {
	position: relative;
	background-color: #4aaaa5; /* teal */
	width: 275px;
	height:60px;
	text-align: left;
	top:16px;

	}



#tab {
	position: relative;
	font-size: 40px;
	top:10px;

}


#nav {
	position: relative;
	text-align: right;
	top: -30px;
}



#title {
	color: blue;
	padding: 15px;
}

h1 {
	font-size: 40px;
	color: #eee; 
	

	}



h2 {
	font-size: 24px;
	}


#wholetop {
	position: static;
	background-color: #ffffff;
	border-bottom: solid #dddddd;
	width: 100%;
	
}


#wholepage {
	position: static;
	border-bottom: solid #4aaaa5;
	width: 100%;
	border-top: solid;
}

.container {
	position: static;
	width: 960px; 

	margin: 0px auto;
	padding: 20px;
	
	
	}

#topcontain {
	position: static;
	width: 960px; 
	
	
	
	margin: 0px auto;
	padding: 0px;
}


#container2 {
	position: relative;
	left: -155px;
	width: 650px; 
	height: 400px;
	background-color: #ffffff;
	margin: 0px auto;
	
	
	
	}


#container3 {
	
	float: right;
	background-color: #ffffff;
	width: 270px; 
	
	margin: 0 auto;
	
	
	}

#bottom {

	background-color: #666666;
	width: 100%;
	height: 70px;
}


#feet {
	text-align: center;
	position: relative;
	top:25px;
}


#mybio {
	line-height: 1.5;
	padding: 20px;
	
	}

#lilhr {
	width: 230px;
}

#bighr {
	width: 610px;
}

#mypic {
	float: left; 
	width: 200px;
	height: 200px;
	padding: 10px;
}


#icons {
	width: 50px;
	height: 50px;
}








a {
	color: #d21034;
	}


